.usersAndInfo {
    display: flex;
}

.users {
    width: 50%;
}

.info {
    width: 50%;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 1000px;
    /*height: 250px;*/
    position: absolute;
    top: 700px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}